@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("@/styles/navbar.css");
@import url("@/styles/hero.css");
@import url("@/styles/skills.css");
@import url("@/styles/contact.css");
@import url("@/styles/footer.css");
@import url("@/styles/portfolio.css");

html {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  cursor: none !important;
  box-sizing: border-box;
  font-family: "Play", sans-serif !important;
}

body {
  color: white;
  background: #23004F;
  font-family: "Play", sans-serif !important;
  min-height: 200vh;
  display: flex;
  justify-content: center;
}

main {
  max-width: 1728px;
  width: 100%;
}

.paddingDefault {
  padding-left: 10%;
  padding-right: 10%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Play';
  src: url('../fonts//Play-Regular.ttf');
  src: url('..//fonts/Play-Bold.ttf');
  font-weight: 400;
  font-style: normal;
}


.flare {
  position: fixed;
  top: 0;
  left: 0;
  border: 2px solid #ffffff2b;
  border-radius: 50%;
  mix-blend-mode: difference;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999999 !important;
  backdrop-filter: blur(1px);
  background-color: red;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-100 {
  width: 100%;
}


@media (min-width : 768px) {
  .modal-containers::-webkit-scrollbar {
    width: 8px;
  }
  .modal-containers::-webkit-scrollbar-thumb {
    background-color: #00D1FF;
    border-radius: 10px;
  }

  body::-webkit-scrollbar {
    width: 6px;
    /* width of the entire scrollbar */
  }

  body::-webkit-scrollbar-thumb {
    background-color: #00D1FF;
    /* color of the scroll thumb */
    border-radius: 10px;
    /* roundness of the scroll thumb */

  }
}

.Typewriter__cursor {
  display: none;
}

@keyframes removeCursor {
  to {
    border-right: transparent;
  }
}


.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .flare {
    display: none;
    width: 0;
    height: 0;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
  }

  .mobile {
    display: block;
  }
}

.flare.pointer {
  display: none;
  opacity: 0 !important;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
    opacity 0.2s ease-in-out;

}

#ReactSimpleImageViewer{
z-index: 99999;
}

.react-simple-image-viewer__close{
  opacity: 1 !important;
}